/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Arial, sans-serif;
}

/* Background */
body {
    height: 100vh;
    background: linear-gradient(120deg, #1e1e2f, #111827);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

/* Login Card */
.login-card {
    width: 360px;
    padding: 30px;
    background: rgba(255, 255, 255, 0.08);
    border-radius: 12px;
    backdrop-filter: blur(12px);
    box-shadow: 0 15px 30px rgba(0,0,0,0.4);
    text-align: center;
}

/* Headings */
.login-card h2 {
    margin-bottom: 8px;
    font-size: 26px;
}

.subtitle {
    font-size: 14px;
    color: #cbd5e1;
    margin-bottom: 25px;
}

/* Inputs */
.login-card input {
    width: 100%;
    padding: 12px 14px;
    margin-bottom: 15px;
    border-radius: 6px;
    border: none;
    outline: none;
    font-size: 14px;
}

/* Button */
.login-card button {
    width: 100%;
    padding: 12px;
    background: #0ea5e9;
    border: none;
    border-radius: 6px;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s;
}

.login-card button:hover {
    background: #0284c7;
}

/* Links */
.links {
    text-align: right;
    margin-bottom: 15px;
}

.links a {
    color: #38bdf8;
    font-size: 13px;
    text-decoration: none;
}

.links a:hover {
    text-decoration: underline;
}

/* Signup */
.signup-text {
    margin-top: 18px;
    font-size: 14px;
}

.signup-text a {
    color: #22d3ee;
    text-decoration: none;
    font-weight: bold;
}

.signup-text a:hover {
    text-decoration: underline;
}


.forgot-link {
    font-size: 14px;
    color: #22c55e;
    text-decoration: none;
}

.forgot-link:hover {
    text-decoration: underline;
}
